<ul class="error-messages">

  @if(fieldHasError('title')){
  <li>That title is required</li>
  }

  @if(fieldHasError('description')){
  <li>That description is required</li>
  }

  @if(fieldHasError('body')) {
  <li>That body is required</li>
  }
</ul>


<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <fieldset>
    <fieldset class="form-group">
      <input formControlName="title" type="text" class="form-control form-control-lg" placeholder="Article Title" />
    </fieldset>
    <fieldset class="form-group">
      <input formControlName="description" type="text" class="form-control" placeholder="What's this article about?" />
    </fieldset>
    <fieldset class="form-group">
      <textarea formControlName="body" class="form-control" rows="8"
        placeholder="Write your article (in markdown)"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <input #tagInputElementRef formControlName="tag" type="text" class="form-control"
        placeholder="Enter tags (add with Space, Enter, or Comma)" />

      <div class="tag-list" style="display: flex; flex-wrap: wrap; margin-top: 0.5rem;">
        @for(tag of (tags$ | async); track tag){
        <span class="tag-default tag-pill" (click)="removeTag(tag)" style="cursor: pointer;">
          <i class="ion-close-round"></i>
          {{tag}}
        </span>
        }
      </div>
    </fieldset>

    <button class="btn btn-lg pull-xs-right btn-primary" type="submit" [disabled]="form.invalid || form.pending">
      Publish Article
    </button>
  </fieldset>
</form>
